.u-section-1 .u-sheet-1 {
  min-height: 669px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 62px auto 0 156px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0 156px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 455px;
  width: 847px;
  margin: 27px auto 0;
}

.u-section-1 .u-custom-html-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 44px;
    margin-left: 56px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: auto;
    margin-left: 56px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 37px;
    margin-bottom: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 41px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
    margin-left: 11px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-top: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-bottom: 0;
  }
}.u-backlink.u-clearfix.u-grey-80 {
	display: none;
}
div#popup {
    background-color: #000 !important;
    color: #fff !important;
}
form {
    display: flex;
    flex-wrap: wrap;
}